 <% include head %>
  <body>
    <h1>添加字段</h1>
    <p><%= title %>--ing</p>
    <form action="doAddinfo" method="post">
    <p><input id="pname" name="pname" type="text" placeholder="pathname" value='aaa'/></p>
    <p><input id="px" name="px" type="text" placeholder="pointx" value='123'/></p>
    <p><input id="py" name="py" type="text" placeholder="pointy" value='123'/></p>

     <p><input type="submit" value="添加"></p>
    </form>
  </body>
</html>